<div class="alert alert-info">
  <span>Notes:</span>
  Could not go through the variables with Tab in HTML/CSS if <span class="label label-info">Emmet</span> installed.
</div>

<div filter-bars hints="libraryHints" filters="filters" defined-languages="definedLanguages"></div>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Trigger</th>
      <th>Desc</th>
      <th>Text</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="hint in libraryHints | filter:{scope:filters.scope} | filter:{tag:filters.tag} | filter:filters.search track by hint.trigger">
      <td><span class="label label-info trigger">{{hint.trigger}}</span></td>
      <!-- <td>{{getLanguageName(hint.scope)}}</td> -->
      <td>{{hint.description}}</td>
      <td><pre class="code" hljs folding>{{hint.text}}</pre></td>
      <td><button class="btn" ng-click="save(hint)" blink>+</button></td>
    </tr>
  </tbody>
</table>