<form id="edc-brackets-snippets-panel" class="bottom-panel vert-resizable top-resizer" ng-app="snippets-manager" ng-controller="SnippetsCtrl" name="form">

  <!-- Toolbar -->
  <div class="toolbar simple-toolbar-layout clearfix">

    <!-- Title -->
    <div class="title">
      <span>Snippets Manager</span>
    </div>

    <!-- Buttons -->
    <div class="right-area">
      <span class="msg text-success" ng-if="showMsg">
        All snippets are up to date!
      </span>

      <button class="btn" ng-if="!editingObj" ng-click="toSetting()" ng-class="{active:isSetting}">
        Settings
      </button>
      <button class="btn" ng-disabled="form.$invalid" ng-if="editingObj" ng-click="save(editingObj)">
        Save <small ng-if="form.$invalid">(Fill in required data first)</small>
      </button>
      <button class="btn" ng-if="editingObj" ng-click="cancelEdit()">Cancel</button>
    </div>

    <!-- Close Button -->
    <div class="actions">
      <button class="close">&times;</button>
    </div>
  </div>

  <div class="resizable-content">
    <!-- Left -->
    <div class="left-panel">

      <!-- Buttons -->
      <div class="control-btns">
        <button class="btn" ng-click="toNew()">New +</button>
        <button class="btn pull-right" ng-click="toggleSearch=!toggleSearch" ng-class="{active:toggleSearch}"><i class="icon-search"></i></button>
      </div>

      <!-- Filter Area -->
      <div class="well well-small filter-area" ng-show="toggleSearch">
        <select class="group-select" ng-options="key as getLanguageName(key) for (key, group) in groupedSnippets" ng-model="searchGroup">
          <option value="">Select Scope...</option>
        </select>
        <div class="search-bar">
          <input type="text" class="search-query" ng-model="search" placeholder="Search">
          <i class="icon-search"></i>
        </div>
      </div>

      <!-- Snippets List -->
      <ul class="nav nav-list" ng-repeat="(key, group) in groupedSnippets" ng-if="!searchGroup || key === searchGroup">
        <li class="nav-header">{{getLanguageName(key)}}</li>
        <li class="snippet-item" ng-repeat="snippet in group | orderBy: 'trigger' | filter: search track by snippet.trigger"
          ng-click="toEdit(snippet)"
          ng-class="{active: originalObj === snippet}">
          <a>
            <span class="label label-info">{{snippet.trigger}}</span>
            <span class="desc">{{snippet.description}}</span>
            <button class="close" ng-click="remove(snippet)">&times;</button>
          </a>
        </li>
      </ul>
    </div>

    <!-- Right -->
    <div class="right-panel">

      <!-- Snippet Editing Area -->
      <div ng-if="editingObj" class="form-horizontal">
        <div class="control-group" ng-class="{error: triggerErr || form.trigger.$error.pattern}" >
          <label class="control-label">Trigger</label>
          <div class="controls">
            <input type="text" name="trigger" ng-model="editingObj.trigger" placeholder="Trigger Key" required ng-pattern="/^[^\s]+$/">
            <div class="help-block" ng-show="triggerErr">Trigger is conflicted in current scope, please choose another one.</div>
            <div class="help-block" ng-show="form.trigger.$error.pattern">White space is permitted.</div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Description <small>(Optional)</small></label>
          <div class="controls">
            <input type="text" ng-model="editingObj.description" placeholder="Description (Appeared on list)">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Scope</label>
          <div class="controls">
            <select ng-options="lang.id as lang.name for lang in definedLanguages | orderBy: 'name'" ng-model="editingObj.scope" required></select>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Text</label>
          <div class="controls">
            <textarea rows="3" ng-model="editingObj.text" placeholder="Snippet Text" required></textarea>
            <div class="alert alert-info" style="font-size: 90%;">
              <div>Variable format: <span class="label label-info">${NUMBER:STRING}</span>, eg: ${1:obj}</div>
              <div>Caret format: <span class="label label-info">${NUMBER}</span>, eg: ${2}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Settings -->
      <div class="intro" ng-controller="SettingsCtrl" ng-if="isSetting" ng-hide="editingObj">
        <form>
          <div class="form-horizontal">
            <div class="control-group">
              <label class="control-label">Insert Snippets On Tab</label>
              <div class="controls">
                <input type="checkbox" ng-model="settingsData._insertHintOnTab" ng-disabled="saving">
                <div class="alert alert-info">
                  If set, the snippets provided by Brackets itself could be inserted by pressing <span class="label label-info">Tab</span>, but snippets listed on the left won't be affected.
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Welcome Page -->
      <div class="intro" ng-hide="editingObj || isSetting">
        <h1>Brackets Snippets <small>(by edc)</small></h1>
        <p>
          <img ng-src="{{url('css/images/brackets-snippets-demo.gif')}}" alt="Screen Demo">
        </p>

        <p>If any thoughts, please feel free to create an <a href="https://github.com/chuyik/brackets-snippets/issues">issue</a> on Github.</p>

        <h2>What's new?</h2>
        <ol>
          <li>Add search bar</li>
          <li>Enhance Snippets List UI</li>
          <li>Fix existed problems</li>
        </ol>
      </div>
    </div>
  </div>
</form>
