<div class="form-horizontal" ng-controller="SettingsCtrl">
  <div class="control-group">
    <label class="control-label">Insert Snippets On Tab</label>
    <div class="controls">
      <input type="checkbox" ng-model="settingsData._insertHintOnTab" ng-disabled="saving">
      <div class="alert alert-info">
        If set, the snippets provided by Brackets itself could be inserted by pressing <span class="label label-info">Tab</span>, but snippets listed on the left won't be affected.
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Keystrokes</label>
    <div class="controls">
      <!-- <div class="well well-small">
        <label class="inline-block m-right-sm">Insert snippets: </label>
        <input type="text" name="keyInsert" disabled>
        <div class="m-top-sm text-info">Have no clue so far...</div>
      </div> -->
      <div class="well well-small">
        <label class="inline-block m-right-sm">Select next variable: </label>
        <input type="text" name="keyNext" ng-model="settingsData.keyNext" placeholder="Default: tab" keystroke>
        <div class="m-top-sm text-info">Examples: ctrl+p, cmd+alt+'</div>
        <div class="help-block error" ng-show="form.keyNext.$error.keystroke">Unrecognized or invalid keystroke.</div>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Import / Export</label>
    <div class="controls">
      <div>
        <button class="btn" ng-click="togglePanel(0)" ng-class="{active:curPanel===0}">Import</button>
        <button class="btn" ng-click="togglePanel(1)" ng-class="{active:curPanel===1}">Export</button>
      </div>

      <!-- Import Panel -->
      <div class="m-top-sm well" ng-if="curPanel===0">
        <div><b>1. Choose file: <span class="text-warning">(.yml or .yaml)</span></b></div>
        <div><input type="file" ng-model="import.file" valid-file read-file accept-suffix="yml,yaml" error-handler="fileLoadError" success-handler="fileLoadSuccess"></div>
        <div ng-if="import.errCode">
          <div ng-switch on="import.errCode">
            <div class="alert alert-error" ng-switch-when=1>
              The file format is not valid, please select a YAML file.
            </div>
          </div>
        </div>
        <br>
        <div><b>2. Choose import scheme:</b></div>
        <div class="radios">
          <label class="radio">
            <input type="radio" ng-model="import.type" value="3">
            <span class="label label-warning">Skip</span> any existed snippets with the same Trigger in scope (Recommended)
          </label>
          <label class="radio">
            <input type="radio" ng-model="import.type" value="2">
            <span class="label label-warning">Override</span> any existed snippets with the same Trigger in scope
          </label>
          <label class="radio">
            <input type="radio" ng-model="import.type" value="1">
            <span class="label label-important">Clean up</span> all existed snippets first
          </label>
        </div>
        <div><button class="btn" ng-disabled="!(import.file&&import.type)" ng-click="importSnippets()">Start Import</button></div>
      </div>

      <!-- Export Panel -->
      <div class="m-top-sm well" ng-if="curPanel===1">
        <div><b>Choose export scheme:</b></div>
        <div class="radios">
          <label class="radio">
            <input type="radio" ng-model="export.type" value="1">
            Export user-defined snippets only (Recommended)
          </label>
          <label class="radio">
            <input type="radio" ng-model="export.type" value="2">
            Export all snippets
          </label>
        </div>

        <div><button class="btn" ng-disabled="!(export.type)" ng-click="exportSnippets()">Start Export</button></div>
      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Reset</label>
    <div class="controls">
      <button class="btn" ng-click="restoreDefault()">Restore default snippets</button>
    </div>
  </div>

</div>