#edc-brackets-snippets-btn {
  background: url('images/icon.svg') no-repeat center top transparent;

  &.active{
    background-position: 0 -24px;
  }
}

#edc-brackets-snippets-panel {
  margin: 0;

  .msg {
    font-size: 90%;
    margin: 0 10px;
  }

  > .toolbar {
    min-height: 26px;

    > .right-area {
      position: absolute;
      right: 42px;
      top: 50%;
      margin-top: -14px;
    }
  }

  > .resizable-content {
    display: flex;

    > .left-panel, >.right-panel {
      overflow-y: scroll;
      padding: 15px 20px 0 0;
    }

    > .left-panel {
      flex: 1;
      max-width: 300px;

      > .control-btns {
        padding: 0 0 5px 10px;
      }

    }

    > .right-panel {
      flex: 2;
      min-width: 300px;

      > .intro {
        padding: 0 10px 10px;
      }
    }

  }

  .snippet-item {

    .close {
      display: none;
    }

    > a {
      position: relative;

      > .label {
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        min-width: 20px;
        text-align: center;
      }
      > .desc {
        word-wrap: break-word;
        word-break: break-all;
        display: inline-block;
        width: 65%;
        font-size: 88%;
      }
      > .close {
        position: absolute;
        float: none;
        right: 10px;
        bottom: 15%;
      }
    }

    &.active {
      > a {
        > .label {
          background: #F7F7F7;
          color: #3a87ad !important;
          text-shadow: none;
          font-weight: 700;
        }

        > .close {
          color: #FFF;
        }
      }
    }

    &:hover {
      .close {
        display: block;
      }
    }
  }

  /**
   * filters
   */
  .filter-area {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .group-select {
    width: 100%;
    height: 26px;
    font-size: 12px;
    margin: 0;
  }

  /**
   * search bar
   */
  .search-bar {
    padding-left: 5px;
    padding-right: 20px;
    position: relative;

    > .search-query {
      border-radius: 8px;
      transition: width 0.2s ease-in-out;
      height: 12px;
      font-size: 12px;
      width: 130px;
      width: 100%;
      margin: 5px -15px 5px -5px;
      padding: 3px 12px;
    }

    > .icon-search {
      position: absolute;
      right: 5px;
      bottom: 8px;
      opacity: 0.3;
    }
  }


  /**
   * rewrite default css
   */
  .label {
    color: #FFF !important;
    margin: 0 2px 0 1px;
  }

  .alert {
    margin-top: 4px;

    div, p {
      margin-bottom: 5px;
    }
    > .label {
      font-size: 90%;
    }
  }

  [class^="icon-"] {
    background-image: url('./images/glyphicons-halflings.png');
  }

  .icon-white {
    background-image: url('./images/glyphicons-halflings-white.png');
  }

  .nav-list>li>a, .nav-list .nav-header {
    text-shadow: none;
  }
}